<div class="bg-success p-5 bg-opacity-50 rubik"><h1>Proyectos </h1></div>
<div class="bg p-5" ></div>
<div class="container">

<div class="row">
  
  <div class="col-12  p-2">
    <div class="row">
      
      <div class="col-12 col-lg-3 p-2">
        <div class="card w-100 h-100 shadow-lg" >
          
          
          <img src="./Imagenes/ImgTempExp.png" class="card-img-top" alt="...">
        
          <div class="card-body">
            <h5 class="card-title">Proyecto 1</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus dicta eveniet facere sint animi? Blanditiis aliquam facere tempora culpa nemo suscipit atque dolorum eum, adipisci voluptas eos perspiciatis doloribus expedita!</p>
            <a href="#" class="btn btn-primary">Ver Resultado</a>
          <a href="#" class="btn btn-primary">Ver Codigo</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 p-2">
        <div class="card w-100 h-100 shadow-lg" >
          
          
          <img src="./Imagenes/ImgTempExp.png" class="card-img-top" alt="...">
        
          <div class="card-body">
            <h5 class="card-title">Proyecto 2</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus dicta eveniet facere sint animi? Blanditiis aliquam facere tempora culpa nemo suscipit atque dolorum eum, adipisci voluptas eos perspiciatis doloribus expedita!</p>
            <a href="#" class="btn btn-primary">Ver Resultado</a>
          <a href="#" class="btn btn-primary">Ver Codigo</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 p-2">
        <div class="card w-100 h-100 shadow-lg" >
          
          
          <img src="./Imagenes/ImgTempExp.png" class="card-img-top" alt="...">
        
          <div class="card-body">
            <h5 class="card-title">Proyecto 3</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus dicta eveniet facere sint animi? Blanditiis aliquam facere tempora culpa nemo suscipit atque dolorum eum, adipisci voluptas eos perspiciatis doloribus expedita!</p>
            <a href="#" class="btn btn-primary">Ver Resultado</a>
          <a href="#" class="btn btn-primary">Ver Codigo</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 col-lg-4 p-2">
        <div class="card w-100 h-100 shadow-lg" >
          
          
          <img src="./Imagenes/ImgTempExp.png" class="card-img-top" alt="...">
        
          <div class="card-body">
            <h5 class="card-title">Proyecto 4</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus dicta eveniet facere sint animi? Blanditiis aliquam facere tempora culpa nemo suscipit atque dolorum eum, adipisci voluptas eos perspiciatis doloribus expedita!</p>
            <a href="#" class="btn btn-primary">Ver Resultado</a>
          <a href="#" class="btn btn-primary">Ver Codigo</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 p-2">
        <div class="card w-100 h-100 shadow-lg" >
          
          
          <img src="./Imagenes/ImgTempExp.png" class="card-img-top" alt="...">
        
          <div class="card-body">
            <h5 class="card-title">Proyecto 5</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus dicta eveniet facere sint animi? Blanditiis aliquam facere tempora culpa nemo suscipit atque dolorum eum, adipisci voluptas eos perspiciatis doloribus expedita!</p>
            <a href="#" class="btn btn-primary">Ver Resultado</a>
          <a href="#" class="btn btn-primary">Ver Codigo</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 p-2">
        <div class="card w-100 h-100 shadow-lg" >
          
          
          <img src="./Imagenes/ImgTempExp.png" class="card-img-top" alt="...">
        
          <div class="card-body">
            <h5 class="card-title">Proyecto 6</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus dicta eveniet facere sint animi? Blanditiis aliquam facere tempora culpa nemo suscipit atque dolorum eum, adipisci voluptas eos perspiciatis doloribus expedita!</p>
            <a href="#" class="btn btn-primary">Ver Resultado</a>
          <a href="#" class="btn btn-primary">Ver Codigo</a>
          </div>
        </div>
      </div>
      
      
      
      
    </div>
  </div>
 

</div>
</div>
<div class="bg p-5" ></div>
