<div class="bg-success p-5 bg-opacity-50 rubik"><h1>Un poco de quien soy </h1></div>
    <div class="bg p-5" ></div>

    <div class="conteiner">
      <div class="row">
        <div class="col-12 col-lg-6"><img src="./Imagenes/foto de perfil.jpg" class="img-fluid img-thumbnail" alt=""></div>
        <div class="col-12 col-lg-6"><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia animi possimus nihil labore, dolores facilis tempora praesentium quod enim ullam quis voluptates eos omnis inventore. Laudantium recusandae delectus odit ipsa?</h2>
        </div>
      </div>
      
    </div>

